@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    color: aliceblue;
    font-family: "Cutive Mono", monospace;
}

h1,
h2,
h3,
h4{
    font-family: "Cutive Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .filter-white {
    filter: invert(99%) sepia(15%) saturate(261%) hue-rotate(49deg) brightness(98%) contrast(106%);
}

.svg-size {
    width: 100px; /* Adjust this value to match the size of your other SVGs */
    height: auto;
  }